.main_svg{
    background-color: whitesmoke;
}

.legend rect{
    fill: whitesmoke;
    stroke: black;
}

.axis_grid line {
    stroke: rgb(103, 169, 236);
}

.tooltip {
    opacity: 0;
}

.tooltip text{
    /* stroke: black;
    stroke-width: 1px;
    paint-order: stroke;
    stroke-linejoin: round; */
    fill: black;
}

.tooltip.hovered{
    opacity: 1;
}

.stacked rect:hover{
    stroke-width: 3px;
    stroke: black;
}