.main_svg{
    background-color: whitesmoke;
}

.legend rect{
    fill: whitesmoke;
    stroke: black;
}

.axis_grid line {
    stroke: rgb(103, 169, 236);
}

.tooltip {
    opacity: 0;
    fill: white;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
}

.tooltip text{
    fill: black;
}

.tooltip.hovered{
    opacity: 1;
}